<div class="row row-centered">
    <div class="col-md-offset-4 col-md-4" id="top-pin">
    <div class="row">
      <div class ="col col-centered full-width">
        <div id="push-pin">
          <%= image_tag("push_pin.png") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class ="col col-centered full-width col-padding">


<h1>Edit your pin</h1>
<hr />
<%= render 'form' %>


</div>
</div>
</div>
</div>
