
<div class="row">
    <div class="col-md-4" id="admin-pin">
      <div id="push-pin">
        <%= image_tag("push_pin.png") %>
      </div>
      <h3>Admin Requests</h3>
      <hr />
      <ul class="comments">
      <%= render(@requests) || "There are no pins!" %>
      </ul>
  </div>
</div>
