<ul class="comments">
    <li><strong><%= link_to comment.user.username, user_path(comment.user) %> says:</strong></li>
    <li><%= comment.content %></li>
    <% if (logged_in? && current_user.id == comment.user.id) %>
    <li><%= link_to 'Edit', edit_comment_path(comment), class: 'slightly-smaller' %> |
      <% end %>
      <% if (can? :manage, comment) || (logged_in? && current_user.id == comment.user.id) %>
      <%= link_to "Delete", comment, method: :delete, class: 'slightly-smaller' %></li><% end %>
  <hr class="dashed less-padding"/>
</ul>
