/*///////////// Pin Index Styles /////////////////*/
#pin {
  background-color: #fff;
   margin: 4%;
  padding: 1% 2% 2% 2%;
  border: 1px solid #d3d3d3;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  min-height: 580px;
}

#pin h1 {
  font-size: 1.5em;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

.image-container {
  min-height: 250px;
}

#pin img {
  width: 100%;

}

#pin p {
   margin-top: 5%;
   margin-bottom: 1%;
   line-height: 1.5em;
}

 #pin ul {
  list-style: none;
  padding-left: 0;
}

 #pin ul li {
  display: inline-block;
  background-color: #f26466;
  font-weight: bolder;
  color: #fff;
  padding: 1% 2.5%;
}

a.box-link {
  color: #ffffff;
}

#pin h2 {
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

hr.less-padding {
  margin-top: 10px;
  margin-bottom: 10px;
}

#pin .form-control{
  padding-bottom: 0;
}

p #comment-box-text {
  width: 100%;
  font-size: 0.9em;
  margin: 0;
}

div.pin .strong {
  font-weight: bolder;
  display: inline-block;
}

#push-pin {
  top: -10px;
  margin-right: auto;
  margin-left: auto;
  width: 30px;
}

/*///////////// Background /////////////*/
body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url('/assets/cork-board.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*//////////// Nav Bar ///////////////*/

.navbar-inverse {
 background: url('/assets/wood-texture.jpg');
 background-color: @navbar-inverse-bg;
 border-color: #6D3F19;
}
.navbar-inverse .navbar-brand {
  color: #000000;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #f26466;
}
.navbar-inverse .navbar-text {
  color: #000000;
}
.navbar-inverse .navbar-nav > li > a {
  color: #000000;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #f26466;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #f26466;
  background-color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #f26466;
  background-color: #ffffff;
}
.navbar-inverse .navbar-toggle {
  border-color: #ffffff;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #000000;
}
.navbar-inverse .navbar-link {
  color: #000000;
}
.navbar-inverse .navbar-link:hover {
  color: #f26466;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f26466;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f26466;
    background-color: #ffffff;
  }
}

div.panel {
    padding: 0 1%;
    display: none;
    background-color: #ffffff;
}

button.accordion {
    background-color: #ffffff;
    color: #000000;
    padding: 1%;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: .9em;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ffffff;
}

.endorse {
  margin-top: 1%;
}

.padding-endorse {
  padding: 2.5% 1.5% 1.5% 1.5%;
}

.vote {
  background: #ffffff;
  color: #f26466;
  border: 0;
  padding: 0;
  font-size: 1.5em;
  margin: 0;
  display: inline-block;
}

#votemod {
  background: #ffffff;
  font-weight: normal;
  color: #a9a9a9;
  font-size: .9em;
  text-align: left;
  display: inline-block;
  letter-spacing: 1.2px;
}


 #pin ul.comments {
  display: block;
  list-style-type: circle;
}

 #pin ul.comments li {
   font-weight: normal;
   width: 100%;
   color: #000000;
   background: #ffffff;
}

hr.dashed {
  border-top: 1px dotted #ccc;
}

.comment-input {
 width: 100%;
 border: 0;
 box-shadow: none;
}

.comment-button {
  width: 100%;
  background-color: #f26466;
  color: #ffffff;
  font-size: 1em;
  font-weight: normal;
  border: 0;
  letter-spacing: 2px;
  padding: 4% 2%;
}

.read-more-button {
  margin: 2% 0%;
}

div.float-left {
  float: left;
}

/*//////////// Flash Note ////////////*/

.flash-note {
    background: #FFFFA5;
    border: 1px solid #d3d3d3;
    max-width: 300px;
    min-height: 160px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
    padding: 1%;
    font-size: 1em;
    letter-spacing: 1.5px;
    font-weight: bolder;
    text-align: middle;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

div.flash-note img {
  top: -10px;
  margin-right: auto;
  margin-left: auto;
  width: 30px;
  display: inline-block;
  align: middle;
}

 div.flash-note img#reminder {
  width: 40px;
  display: inline-block;
}

div.extra-padding {
  padding: 4%;
  margin-top: 2%;
}

.more-top {
  margin-top: 3%;
}

.vtext p {
    display: inline;
    text-align: middle;
}

.error {
  align: top;
}

.error h4  {
  font-weight: bolder;
  font-size: 1.1em;
}

.error ul {
  font-size: .9em;
}

.row-centered {
    text-align:center;
    display: block;

}
.col-centered {
    display:inline-block;
    float: left;
    text-align: left;
}

.error ul {
  list-style: none;
  padding-left: 0;
}

#top-pin {
  background-color: #fff;
  padding: 1% 3% 3% 3%;
  border: 1px solid #d3d3d3;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  height: AUTO;
  margin-top: 2%;
  margin-bottom: 2%;
}

#top-pin #push-pin img {
  top: -10px;
  margin-right: auto;
  margin-left: auto;
  width: 30px;
  display: inline-block;
  align: middle;
}

.full-width {
  width: 100%;
}

.col-padding {
  padding: 0% 2% 2% 2%;
}

#single-pin {
  background-color: #fff;
  margin: 1%;
  padding: 1% 3% 3% 3%;
  border: 1px solid #d3d3d3;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  margin-right: auto;
  margin-left: auto;
}

#single-pin #push-pin img {
  top: -10px;
  margin-right: auto;
  margin-left: auto;
  width: 30px;
  display: inline-block;
  align: middle;
}

#single-pin img {
  width: 100%;
  max-width: 400px;

}

h3.pin-title {
  background-color: #000000;
  color: #ffffff;
  padding: 2% 1%;
  margin-top: 0;
}

#pin-photo {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

#single-pin ul {
 list-style: none;
 padding-left: 0;
}

#single-pin ul li {
 display: inline-block;
 background-color: #f26466;
 font-weight: bolder;
 color: #fff;
 padding: 1% 2.5%;
}

.top-bumpers {
  padding-top: 2%;
  padding-bottom: 2%;
}

.comment-button-single {
  width: 40%;
  background-color: #f26466;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  border: 0;
  letter-spacing: 2px;
  padding: 2% 1%;
}

#single-pin ul.comments {
 display: block;
 list-style-type: circle;
}

#single-pin ul.comments li {
  font-weight: normal;
  width: 100%;
  color: #000000;
  background: #ffffff;
}

.slightly-smaller {
  font-size: 0.8em;
}

ul.tag-block {
 list-style: none;
 padding-left: 0;
}

li.tag-block {
 display: inline-block;
 background-color: #f26466;
 font-weight: bolder;
 color: #fff;
 padding: 1% 2.5%;
}

a.tag-block {
  color: #ffffff;
  text-decoration: none;
}

li.active {
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #f26466;
  font-weight: bolder;
  color: #f26466;
  padding: 1% 2.5%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
}

li.active a {
  color: #f26466;
}


#admin-pin {
  background-color: #fff;
  padding: 1% 3% 3% 3%;
  border: 1px solid #d3d3d3;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  height: auto;
  margin: 2%;
}

#admin-pin #push-pin img {
  top: -10px;
  margin-right: auto;
  margin-left: auto;
  width: 30px;
  display: inline-block;
  align: middle;
}

#admin-pin ul.comments {
 display: block;
 list-style-type: none;
 padding-left: 0;
}

#admin-pin ul.comments li {
  font-weight: normal;
  width: 100%;
  color: #000000;
  background: #ffffff;

}

ul.tag-block {
 list-style: none;
 padding-left: 0;
}

li.tag-block {
 display: inline-block;
 background-color: #f26466;
 font-weight: bolder;
 color: #fff;
 padding: 1% 2.5%;
}
